<!DOCTYPE html>

<html lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>SlanGo</title>
  	<link rel="shortcut icon" href="https://media.licdn.com/media/p/4/000/152/2a8/24a9ec0.jpg" type="image/x-icon" />
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script> 	
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.2/backbone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.js"></script>
 
  	
  	
  	<link rel="stylesheet" href="/css/style.css">






</head>

 
    {{{body}}}
  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/models/twitter.js"></script>
  <script src="/javascripts/models/insta.js"></script>
  <script src="/javascripts/models/urban.js"></script>
  <script src="/javascripts/collections/twitters.js"></script>
  <script src="/javascripts/collections/instas.js"></script>
  <script src="/javascripts/collections/urbans.js"></script>
  <script src="/javascripts/views/twitterView.js"></script>
  <script src="/javascripts/views/instaView.js"></script>
  <script src="/javascripts/views/urbanView.js"></script>
 

</html>